:root {
    --main-font: 'Poppins', sans-serif;
    --main-color: #3456ff;
    --text-color: #070928;
    ;
}


/* Start main css */

p {
    color: var(--text-color);
    font-family: var(--main-font) !important;
}

html {
    scroll-behavior: smooth;
}


.img-fullwidth {
    width: 100% !important;
}


a {
    text-decoration: none;

}

/*== preloader css start ==*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 500ms ease-in-out;

    background: #fff;
}

.pre_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*== preloader css end ==*/
/* 1-Start Navbar */

.navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
    display: block;
    font-size: 17px;
    font-weight: 600;
    /* line-height: 30px;
    padding: 19px 0px 28px; */
    margin: 0 16px;
    position: relative;
    text-transform: uppercase;
    transition: all 500ms ease 0s;
    font-family: var(--main-font);

}

.navbar li a.active {
    color: rgb(52 86 255) !important;
    border-bottom: 2px solid;
    transition: all 500ms ease 0s;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}

.navbar-brand img {
    width: 85%;
}

.bg-light {
    background: transparent !important;
}

.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    outline: none;
    color: rgb(52 86 255) !important;
    border-bottom: 1px solid;
    color: #FFF;
    border: 0px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

}

.social-midea a:hover {
    outline: none;
    transition: all 0.5s;

    color: var(--text-color) !important;

}



.navbar-light .navbar-brand {
    padding: 19px 0px 28px;

    padding: 8px;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #FFF !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    -webkit-transition: .5s;
    transition: all 0.5s ease-in-out;
}




.sticky .container {
    width: 100% !important;
}

.baneer {
    background-color: #F8F8FA;
    background-size: cover;
}

/* .content {
    padding-top: 100px;
    padding-bottom: 100px;
} */

.baneer-2 .content {
    position: relative !important;
    margin-top: 20px;
}

.content h2 {
    transition: none 0s ease 0s;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
    margin: 14px 0px 9px;
    padding: 0px;
    color: var(--main-color);
    letter-spacing: 0px;
    font-family: var(--main-font);
}

.content h5 {
    transition: none 0s ease 0s;
    text-transform: capitalize;
    margin: 0px;
    font-weight: bold;
    color: var(--main-color);

    font-size: 20px;
    font-family: var(--main-font);

}


.content p {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
}

a:hover :focus {
    outline: none;
}


/* 1-End Navbar */


/* 2- Start Banner */
.content img {
    transition: all 1s;
}

.content img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.content .img-fluid {

    width: 80%;
}

.content ul {
    margin-left: -40px;
}

.content .social-link {
    float: left;
    text-decoration: none;
    padding: 10px;
    list-style: none;


}

.content .social-link a {
    text-decoration: none;
    background-color: var(--main-color);
    ;
    padding: 10px;
    border-radius: 50%;
    color: #FFFFFF;
}


.social-link i {
    font-size: 20px;
}

.content .social-link a:hover {
    background-color: #FFF;
    color: var(--main-color);
    transition: all .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.7;

}

/* End Banner */

/*start about */
.about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about h2 {
    color: var(--main-color);
    ;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: 700;
    padding-top: 30px;

    font-size: 2rem;
    text-transform: capitalize;


}


.about h4 {
    text-transform: capitalize;

    font-size: 1.5rem;
    color: var(--main-color);
    ;

    font-family: var(--main-font)
}

.about h3 {
    color: var(--main-color);
    ;
    font-family: var(--main-font)
}

.about img {



    width: 90%;
    transition: 1s ease;
}

.about img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;

}

.about-h {

    padding-top: 65px;
}

.about .name {
    font-weight: 700 !important;
    color: var(--main-color);
    ;
    text-transform: capitalize;

}

.about p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

.about .btn-container {
    padding: 25px;

}

.about .download {
    text-decoration: none;
    background-color: #3456ff;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: #ffff;
    border-radius: 20px;
    margin: 20px;
    font-family: var(--main-font);
}

/* end about */

/* start servise */
.Services {
    background-color: #F8F8FA;

    padding-top: 100px;
    padding-bottom: 100px;

}

.Services h2 {
    color: var(--main-color);
    ;
    font-family: var(--main-font);
    text-transform: capitalize;

    font-weight: bold;


}

.Services .num {
    position: absolute;
    top: 0;
    left: 0;
    background: #3456ff;
    color: #FFF;
    font-size: 25px;
    width: 67px;
    height: 62px;
    line-height: 2;

    text-align: center;
    border-radius: 0px 0px 40px 0px;
    ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.single-service i {
    color: var(--main-color);
    background-color: #FFF;
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.single-service:hover i {
    color: #fff;
    background-color: #3456ff;
    transition: all .3s;

}


.Services .single-service {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */

    border: none;
    transition: all .3s;
    padding: 20px 20px;

    z-index: 2;

}

.Services .single-service:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all .3s;

}

.single-service h6 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #3456ff;
    font-family: var(--main-font)
}

.single-service p {


    font-size: 14px;
    font-family: var(--main-font)
}

/* end services */

/* start skills */

.skills {
    padding-top: 100px;
    padding-bottom: 100px;

}

.skills h2 {
    color: var(--main-color);
    ;
    font-family: var(--main-font);
    text-transform: capitalize;

    font-weight: bold;


}

.skills .skil-img {
    width: 50px;
    height: 50px;
}


.skills .sikls-info {

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 12px;
    margin: 15px;
    min-height: 130px;
    min-width: 150px;
    transition: all .3s;

}

.sikls-info h5 {

    padding: 5px;
    margin-top: 12px;
    text-transform: uppercase;
    font-family: var(--main-font);
    color: var(--text-color);
    line-height: 2;
    border-top: 1px solid #EEE;

}

.skills .sikls-info:hover {

    background-color: var(--main-color);
    transition: all .3s;

}

.skills .sikls-info:hover h5 {
    color: #FFF;
    transition: all .3s;


}

.skills .sikls-info:hover img {
    background-color: #FFF;
    border-radius: 50%;
    transition: all .3s;
    padding: 10px;

}

/* 
end skills */

/* start Portfolio */

.Portfolio {

    padding-top: 100px;
    padding-bottom: 100px;
}

#customersCats {
    margin-top: 1.2rem;
    height: 80px;
}


.Portfolio .nav-link.active,
.nav-link:focus,
.nav-link:hover {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.Portfolio h2 {
    color: var(--main-color);
    ;
    padding: 20px;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: bold;


}


.Portfolio a.nav-link {
    color: var(--text-color);
    font-family: var(--main-font);
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.Portfolio img {

    height: 350px !important;
    width: 350px !important;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.Portfolio-Item {
    position: relative;
}

.Portfolio .content {
    margin: 25px;
    text-transform: capitalize;
    background: var(--main-color);
    color: #FFF;
    border: 0px;
    font-family: var(--main-font)
}

.Portfolio-Item:hover,
.item-overlay:hover {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 1;
}

.item-overlay {

    width: 80%;
    max-height: 250px;
    position: absolute;
    bottom: 0;
    left: 10%;
    text-align: center;
    line-height: 6;
    top: 10%;
    right: 4px;
    background: rgb(52 86 255 / 56%);
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);


}

.item-overlay i {
    height: 45px;
    width: 45px;
    border: 2px dotted #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 44px;
    font-size: 26px;
    margin: 10px 5px;
    color: var(--main-color);
    ;
    -webkit-transition: .5s;
    transition: .5s;
}

.item-overlay .item-text {
    padding: 20px;
}


.item-overlay .titel {
    position: absolute;
    bottom: 2px;
    text-align: center;
    background: #FFF;
    left: 0px;
    right: 0px;
}

.titel h4 {
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
    text-transform: capitalize;
    font-family: var(--main-font)
}

.item-overlay h3 {
    line-height: 2;
    font-size: 24px;
    color: #FFFF;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--main-font);
    text-transform: uppercase;
    border: 2px dotted #ffffff;
    padding: 5px;
    margin-bottom: 5px;
}

/* End Portfolio */

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F8F8FA;

}

.contact h2 {
    color: var(--main-color);
    ;
    padding: 20px;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: bold;


}

/* start contact */
.contact-info {

    padding: 9px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background-color: #FFF;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.contact-info span {
    margin-left: 25px;
    font-size: 20px;
    font-family: var(--main-font);
    cursor: pointer;

}

.contact .info a:hover {
    text-decoration: none;
}

.contact-info:hover {

    color: #FFF !important;
    background-color: var(--main-color);
    transition: .3s all ease-in-out;
}

.contact-info:hover a {
    color: #FFF !important;
}

.contact-info:hover i {
    color: #FFF;
}

.contact-info a {
    text-decoration: none;
    color: var(--text-color) !important;

}

.contact-info i {
    text-decoration: none;
    color: var(--main-color);
    height: 45px;
    display: inline-block;
    padding: 10px;
    width: 45px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    line-height: 20px;
    transition: all 0.5s;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.contact h3 {
    color: var(--main-color);
    ;
    padding: 20px;
    text-transform: capitalize;
    font-family: var(--main-font);
    font-weight: bold;
}



.form-control {
    display: block;
    width: 85%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: .50rem;
    margin-top: 11px;
    transition: all 0.5s ease;

}

.form-control:focus,
.form-control:hover {
    border-color: var(--main-color);
    transition: all 0.5s ease;
}

.form-control::placeholder {
    text-align: center;
    text-transform: capitalize;
    font-family: var(--main-font);

}

.form .btn-primary {
    margin-top: 11px;
    text-transform: capitalize;
    font-family: var(--main-font)
}

/* start footer */
footer {
    background-color: var(--main-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

footer p {

    color: #fff !important;
    font-size: 17px;
    font-weight: bold;
    line-height: 2;
    margin-top: 10px;


}